.dialog {
    // border: 2px solid violet;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    font-family: STXingkai;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px;
}