.musicPanal {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    z-index: 999;

    :global {
        .ant-list {
            color: white;
        }
        .ant-list-item {
            color: white;
            font-weight: bold;
            font-size: 14px;
            padding: 8px;
            font-family: sans-serif;
        }
    }
}