.photoPanal {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 500px;
    z-index: 999;
    // box-shadow: 0 2px 16px 0 rgba(16, 54, 113, .16);

    .buttonPosition {
        position: absolute;
        right: 0;
    }

    .photoPosition {
        position: absolute;
        top: 40px;
        width: 100%;
    }

    :global {
        .ant-btn {
            background-color: transparent;
            color: white;
            // height: 30px;
            // font-size: 16px;
        }
        .ant-btn:focus {
            color: black;
            border-color: black;
        }
        .ant-input {
            background-color: transparent;
        }
        .ant-list {
            color: white;
        }
        .ant-list-item {
            color: white;
            font-weight: bold;
            font-size: 14px;
            padding: 8px;
            font-family: sans-serif;
        }
    }
}