.container {
    width: 100%;
    height: 100%;

    .appTotleStyle {
        position: absolute;
        top: 12%;
        // height: 69px;
        width: 100%;
        box-align: center;
        text-align: center;
        z-index: 999;
        // background-color: violet;

        :global {
            .ant-btn {
                background-color: transparent;
                color: white;
                height: 38px;
                font-size: 16px;
            }
            .ant-btn:focus {
                color: black;
                border-color: black;
            }
            .ant-input {
                background-color: transparent;
            }
            .ant-list {
                color: white;
            }
            .ant-list-item {
                // color: white;
                font-weight: bold;
                font-size: 14px;
                padding: 8px;
                font-family: sans-serif;
            }
        }
    }
}

// :global {
//     .ant-btn {
//         background-color: transparent;
//         color: white;
//         height: 38px;
//         font-size: 16px;
//     }
// }
